<script lang="ts">
import Vue from 'vue'
import Vuex, { StoreOptions } from 'vuex'
import { ChannelInfo } from '@/store/ChannelData'
import { PlotConfiguration, LineConfiguration, PlotRunMode
  } from '@/store/PlotConfiguration'
import { NameSizeDate, ConfigSocketSet,
  SConfigData, SConfigPlot, SConfigLine, SConfigChannelInfo
  } from '@/store/ConfigSaving'

Vue.use(Vuex)

/** Basic structure of data

* Data from DUECA channels

  - Connection URL to the DUECA process, and list of information endpoints,
    presented on the InfoList widget. The rootstate connects to the DUECA
    channel information URL and receives information on available endpoints.
    Checkboxes on the InfoList widget enable connecting to the information
    endpoints. Endpoints are listed in the ChannelInfo array.

  - List of available entries, with checkboxes to connect the entries.
    Entries are listed on the ConnectionUI widget. Entries are an accumulation
    of all entries in the entries array in the ChannelInfo objects.

  - Underlying data of connected entries is available if the
    ChannelEntryInfo objects have a ChannelEntryReader in their reader
    member. The data can be shown by opening a DataView pane in the
    ConnectionUI table.

* Configured plots

  - The PlotConfiguration array plotConfig contains information on all
    configured plots. Each PlotConfiguration object has zero or more
    LineConfiguration objects. When complete, a LineConfiguration has an
    X and Y line link (LineDataLink) to data entries.

  - Configured plots are shown on the PlotPage widget, which has zero or
    multiple PlotSet widgets.

*/


class RootState {
  // one object per configured information point
  // the entries member in the channel info contains entry information
  channelinfo: Array<ChannelInfo>;
  // for connection to the DUECA process
  baseUrl: string;
  // socket for the configuration information
  configsock: WebSocket|any;
  // list with indices pointing to all configured plots
  // currentPlotlist: Array<number>;
  // counter to give a unique id to plots
  plotCounter: number;
  // configuration of all plots
  plotConfig: Array<PlotConfiguration>;
  // currently selected plot for editing
  selectedPlot: number;
  // editing the following plot
  static dummyPlotConfig: PlotConfiguration = new PlotConfiguration(-1);
  // editing the following plot
  // selectedPlotConfig: PlotConfiguration;
  // available configuration files
  configFiles: Array<NameSizeDate>;
  // configuration file server sockets
  cfstore: ConfigSocketSet;
  // configuration loading, if loading a pre-saved config
  configToLoad: SConfigData|null;

  constructor (url = 'ws://127.0.0.1:8001/') {
    this.channelinfo = []
    this.configsock = null
    this.baseUrl = url
    // this.currentPlotlist = []
    this.plotCounter = 0
    this.plotConfig = []
    this.selectedPlot = -1
    // dummyPlotConfig = new PlotConfiguration(-1)
    // this.selectedPlotConfig = dpc
    this.configFiles = []
    this.setBaseUrl(url)
    this.cfstore = new ConfigSocketSet()
    this.configToLoad = null
  }

  collectConfiguration () {
    // base for all configuration data
    let config: SConfigData =
      { url: this.baseUrl, channels: [], plots: [] }

    /* run through the channels;
       - which are connected?
       - which entries are connected?
    */
    let i: number
    this.channelinfo.forEach( (ci: ChannelInfo) => {
      if (ci.socket) {
        let scci: SConfigChannelInfo = {
          name: ci.url,
          entries: []
        }
        for (i = 0; i < ci.entries.length; i++) {
          if (ci.entries[i].reader?.socket) {
            scci.entries.push(i)
          }
        }
        config.channels.push(scci)
      }
    })

    /* run through the plots
       - for each plot:
         * title
         * control link
           . endpoint
           . entry ID
           . data path
         * subtract offset on first time write?
         * all lines, for each line
           . xline
             o endpoint
             o entry ID
             o data path
           . yline (as xline)
           . label
           . no of npoints
    */
    for (const pl of this.plotConfig) {

      // base plot configuration
      let pc: SConfigPlot = {
        title: pl.title,
        lines: [],
        plotcontrol: pl.plotcontrol ? {
          endpoint: pl.plotcontrol.endpoint,
          entryId: pl.plotcontrol.entryId,
          datapath: pl.plotcontrol.datapath
        } : null,
        offsetOnFirst: pl.offsetOnFirst
      }

      // add all lines
      for (const l of pl.lines) {
        pc.lines.push({
          xline: l.xline? {
            endpoint: l.xline.endpoint,
            entryId: l.xline.entryId,
            datapath: l.xline.datapath
          } : null,
          yline: l.yline? {
            endpoint: l.yline.endpoint,
            entryId: l.yline.entryId,
            datapath: l.yline.datapath
          } : null,
          label: l.label,
          npoints: l.npoints,
        })
      }
      config.plots.push(pc)
    }
    return config
  };

  /* handle messages about server configuration */
  _onmessage= (event: any) => {
    const data = JSON.parse(event.data)

    // set the channelinfo entries
    let idx: number
    data.info.forEach((m: any) => {
      // console.log('adding info endpoint', m.endpoint)
      idx = this.channelinfo.length
      Vue.set(this.channelinfo, idx, new ChannelInfo(m.endpoint))

      // restore state of configuration, if applicable
      if (this.configToLoad) {
        this.configToLoad.channels.forEach( (c) => {
          if (c.name === m.endpoint) {
            // console.log('re-connecting ' + m.endpoint)
            this.channelinfo[idx].presetEntries(c.entries)
            this.channelinfo[idx].connect(this.baseUrl)
          }})
      }
    })

    // if applicable, also store the plot configuration
    if (this.configToLoad) {
      let plotid: number = 1
      for (const pl of this.configToLoad.plots) {
        const pc = new PlotConfiguration(this.plotCounter++)
        pc.title = pl.title
        pc.offsetOnFirst = pl.offsetOnFirst
        if (pl.plotcontrol) {
          pc.setControl(pl.plotcontrol.datapath, true,
            pl.plotcontrol.endpoint, pl.plotcontrol.entryId)
        }
        for (const line of pl.lines) {
          pc.addLine(line.npoints, 10)
          pc.lines[pc.lines.length -1].label = line.label
          if (line.xline) {
            pc.lines[pc.lines.length-1].setXLine(line.xline.datapath, true,
              line.xline.endpoint, line.xline.entryId)
          }
          if (line.yline) {
            pc.lines[pc.lines.length-1].setYLine(line.yline.datapath, true,
              line.yline.endpoint, line.yline.entryId)
          }
        }
        pc.setRunning(PlotRunMode.Running)
        Vue.set(this.plotConfig, this.plotConfig.length, pc)
      }
    }
    LineConfiguration.setGranule(data.granule)

    // restore the plots and lines
  }

  _onclose= (event: any) => {
    console.warn('Config socket close', event, this.baseUrl)
    this.configsock = null
  }

  _onerror= (event: any) => {
    console.warn('Config socket error', event, this.baseUrl)
    this.configsock = null
  }

  _onopen= () => {

    console.warn('WebSocket config connection open')

    // set the configuration file reading, since this worked
    this.cfstore.open(this.baseUrl)
  }

  // adopt a new base url.
  setBaseUrl = (url: string) => {

    // stops new configuration changes
    if (this.configsock !== null) {
      this.configsock.close()
      this.configsock = null
      this.cfstore.close()
    }

    // stop interface
    this.selectedPlot = -1

    // plotlines have callbacks installed in the channelinfo,
    // remove these first
    this.plotConfig.forEach((p: PlotConfiguration) => {
      p.reset()
    })

    // now the channelinfo can be disconnected
    this.channelinfo.forEach((u: ChannelInfo) => {
      u.reset()
    })

    // remove the configurations themselves
    this.channelinfo.length = 0
    this.plotConfig.length = 0
    // this.currentPlotlist.length = 0

    // modify to the new url
    this.baseUrl = url

    // try to connect it
    if (url.length) {
      this.configsock = new WebSocket(url + 'configuration')
      this.configsock.onopen = this._onopen
      this.configsock.onmessage = this._onmessage
      this.configsock.onerror = this._onerror
      this.configsock.onclose = this._onclose
    }
  }

  /* return the plot configuration object through ID */
  getPlotById(plotid: number) {
    for (const p of this.plotConfig) {
      if (p.plotid === plotid) return p
    }
    return RootState.dummyPlotConfig
  }

}

// const dpc = new PlotConfiguration()

const store: StoreOptions<RootState> = {

  state: new RootState(((location.protocol === 'https:') ?
    'wss://' : 'ws://') + location.hostname + ':8001/'),
  getters: {
    /*
      List of currently visible plots; indexes refer to plot config array
    */
    getPlotIdList (state) {
      return [...Array(state.plotConfig.length).keys()]
    },

    /* Is this the currently edited plot */
    isEditPlot: (state) => (plotid: number) => state.selectedPlot === plotid,

    /* Get the ID of the currently edited plot, -1 if not editing */
    getCurrentEditPlotID (state) {
      // console.log(`Selected plot ${state.selectedPlot}`)
      return state.selectedPlot
    },

    /* Get the current edited plot config */
    getCurrentEditPlot (state) {
      const eplot = state.selectedPlot
      if (eplot !== -1) {
        return state.plotConfig[eplot]
      }
      return RootState.dummyPlotConfig
    },

    /* return the lines object of the currently edited plot */
    getEditPlotLines: (state: RootState) => {
      return state.getPlotById(state.selectedPlot).lines
    },

    getPlotLayout: (state: RootState) => (plotid: number) => {
      return state.getPlotById(plotid)?.layout
    },

    getPlotOptions: (state: RootState) => (plotid: number) => {
      return state.getPlotById(plotid)?.options
    },

    /*
      Number of currently connected channelinfo url's
    */
    getChannelInfoSize (state: RootState) {
      let nsize = 0
      state.channelinfo.forEach(function (e) {
        if (e.socket !== null) {
          nsize++
        }
      })
      return nsize
    },

    /*
      Return the complete list of channeinfo
    */
    getChannelInfo (state: RootState) {
      return state.channelinfo
    },

    /*
      Return index number of a certain ChannelInfo
    */
    getChannelInfoIdx: (state: RootState) => (name: string) => {
      let i: number = 0
      for (; i < state.channelinfo.length; i++) {
        if (name === state.channelinfo[i].url) {
          return i
        }
      }
      return null
    },

    /*
      URL of the (dueca) server to which this is connected
    */
    getBaseURL (state: RootState) {
      return state.baseUrl
    },

    /*
      A list of all channel entries, as assembled by the active
      channelinfo connections, ready for table presentation
    */
    getAvailableEntries (state: RootState) {
      let nextInfoIndex = 0
      let nextEntryIndex = 0
      const result = []
      while (nextInfoIndex < state.channelinfo.length) {
        if (nextEntryIndex <
          state.channelinfo[nextInfoIndex].entries.length
        ) {
          const c = state.channelinfo[nextInfoIndex].entries[nextEntryIndex]
          result.push({
            location: state.channelinfo[nextInfoIndex].url,
            dataClass: c.config.dataclass,
            entryId: c.config.entry,
            idx: [nextInfoIndex, nextEntryIndex],
            connected: c.reader && c.reader.socket !== null,
            _showDetails: c.showEntryDetail
          })
          nextEntryIndex++
        } else {
          nextEntryIndex = 0
          nextInfoIndex++
        }
      }

      return result
    },

    /*
      The given data from a connected entry
    */
    getEntryData: (state: RootState) => (chanid: number, entryid: number) => {
      // console.log('getEntryData', chanid, entryid)
      if (chanid < state.channelinfo.length &&
          entryid < state.channelinfo[chanid].entries.length) {
        // console.log(
        //  'getEntryData',
        //  state.channelinfo[chanid].entries[entryid]
        // )
        return state.channelinfo[chanid].entries[entryid]
      }
      return { }
    },

    /* produce a bootstrap table-ready list of connection points.
       These are URL's that can be connected to for monitoring channel entries.
    */
    getConnectionPoints: (state) => {
      // console.log('in store, getConnectionPoints', state.channelinfo.length)
      const result = []
      for (let i = 0; i < state.channelinfo.length; i++) {
        result.push({
          endpoint: state.channelinfo[i].url,
          connected: state.channelinfo[i].socket !== null,
          numentries: state.channelinfo[i].entries.length,
          idx: i
        })
      }
      // console.log(JSON.stringify(result))
      return result
    },

    getLineName: (state: RootState) => (plotid: number, lineno: number) => {
      return state.getPlotById(plotid)?.lines[lineno]?.label
    },

    entryIsConnected: (state: RootState) => (loc: Array<number>) => {
      const i = state.channelinfo[loc[0]]
      if (i) {
        const c = state.channelinfo[loc[0]].entries[loc[1]]
        return c.reader?.socket !== null
      }
      return false
    },

    getPlotTitle: (state: RootState) => (plotid: number) => {
      return state.getPlotById(plotid)?.title
    },

    getConfigFileData: (state: RootState) => {
      return state.cfstore.configFiles
    },

    getActivePlotTab: (state: RootState) => (plotid: number) => {
      return state.getPlotById(plotid)?.runtab
    },

    getResetTimeline: (state: RootState) => {
      return state.getPlotById(state.selectedPlot)?.offsetOnFirst
    }
  },
  mutations: {
    /*
      Connect to a specific info link, or disconnect if already connected
    */
    followInfo (state, idx) {
      if (state.channelinfo[idx].socket !== null) {
        state.channelinfo[idx].reset()
      } else {
        state.channelinfo[idx].connect(state.baseUrl)
      }
      // figure out what happened
      // console.log('follow', idx, state.channelinfo[idx])
    },

    /*
      Connect to read the data from a specific entry link
    */
    connectEntry (state, loc) {
      const i = state.channelinfo[loc[0]]
      const c = state.channelinfo[loc[0]].entries[loc[1]]
      if (c.reader?.socket !== null) {
        c.reader?.disconnect()
        c.showEntryDetail = false
      } else {
        c.reader?.connect(state.baseUrl, i.url, c.config.entry)
      }
    },

    /*  Toggle connection to a follow URL

        If connected, closes the socket and clears the detected entries
        If desconnected, opens the socket
    */
    connectPoint (state, idx) {
      const b: ChannelInfo = state.channelinfo[idx]

      if (b.socket === null) {
        b.connect(state.baseUrl)
      } else {
        b.disconnect()
      }
    },

    /*  Update the URL to connect

        The base URL determines which DUECA instance to connect to,
        Updating this also clears all connections until now
    */
    updateBaseURL (state: RootState, url: string) {
      state.setBaseUrl(url)
    },
    toggleEntryDetail (state, loc) {
      state.channelinfo[loc[0]].entries[loc[1]].showEntryDetail =
        !state.channelinfo[loc[0]].entries[loc[1]].showEntryDetail
    },
    addDataPlot (state) {
      Vue.set(state.plotConfig, state.plotConfig.length,
        new PlotConfiguration(state.plotCounter++))
    },

    selectPlot (state, plotid) {
      // todo: add actions
      // console.log('selectPlot', plotid)
      if (plotid === state.selectedPlot) { return }
      // if another plot was being edited, set it to StopAndClear
      if (state.selectedPlot >= 0) {
        state.getPlotById(state.selectedPlot)?.setRunning(PlotRunMode.StopAndClear)
      }
      state.selectedPlot = plotid
      if (plotid !== -1) {
        state.getPlotById(plotid)?.setRunning(PlotRunMode.StopAndClear)
      }
    },

    setPlotRunMode (state, data) {
      // by default, unselect the plot if it was being edited and now pause
      // or run are selected
      if (data.plotid === state.selectedPlot &&
        data.choice !== PlotRunMode.BeingEdited) {
        state.selectedPlot = -1
      }

      // set the new mode in the plot configuration
      state.getPlotById(data.plotid)?.setRunning(data.choice)
      if (data.choice === PlotRunMode.BeingEdited) {
        if (state.selectedPlot >= 0 && state.selectedPlot !== data.plotid) {
          // stop the previously selected plot
          state.getPlotById(state.selectedPlot)?.setRunning(
            PlotRunMode.StopAndClear)
        }
        // select this plot
        state.selectedPlot = data.plotid
      }
    },

    /* accept a drop for the X line */
    acceptLineX (state, data) {
      // index of the line
      const idx: number = data.index
      state.getPlotById(state.selectedPlot)?.lines[idx].setXLine(
        data.link, data.reader, data.cname, data.entryid)
    },

    /* accept a drop for the Y line */
    acceptLineY (state, data) {
      // index of the line
      const idx: number = data.index
      state.getPlotById(state.selectedPlot)?.lines[idx].setYLine(
        data.link, data.reader, data.cname, data.entryid)
    },

    /* accept a control link for a plot */
    acceptPlotControl (state, data) {
      state.getPlotById(state.selectedPlot)?.setControl(
        data.link, data.reader, data.cname, data.entryid)
    },

    /* add a line */
    addLine (state) {
      state.getPlotById(state.selectedPlot).addLine(100, 10)
    },

    setPlotClient (state, data) {
      state.getPlotById(data.plotid).setPlotClient(data.client)
    },

    setPlotTitle (state: RootState, data) {
      state.getPlotById(data.plotid).title = data.title
    },

    setPlotOptions (state: RootState, data) {
      Vue.set(state.getPlotById(data.plotid), 'options', data.options)
    },

    setPlotLayout (state: RootState, data) {
      Vue.set(state.getPlotById(data.plotid), 'layout', data.layout)
    },

    loadConfiguration (state: RootState, config) {
      state.cfstore.loadConfiguration(config)
    },

    saveConfiguration (state: RootState, config) {
      // console.log('config saving to ', config)
      state.cfstore.saveConfiguration(config, state.collectConfiguration())
    },

    restoreConfiguration (state: RootState, config) {
      state.configToLoad = config
      state.setBaseUrl(config.url)
    },

    setResetTimeline (state: RootState, choice) {
      if (state.selectedPlot >= 0) {
        state.getPlotById(state.selectedPlot).setOffsetOnFirst(choice)
      }
    }

  },
  actions: {
    subscribeFollow (context, url) {
      context.commit('followInfo', url)
    },
    toggleConnectEntry (context, loc) {
      context.commit('connectEntry', loc)
    },
    addDataPlot (context) {
      context.commit('addDataPlot')
    },
    toggleConnectPoint (context, loc) {
      context.commit('connectPoint', loc)
    },
    selectPlot (context, plotid) {
      context.commit('selectPlot', plotid)
    },
    addLine (context) {
      context.commit('addLine')
    },
    acceptLineX (context, arg) {
      context.commit('acceptLineX', arg)
    },
    acceptLineY (context, arg) {
      context.commit('acceptLineY', arg)
    },
    acceptPlotControl (context, arg) {
      context.commit('acceptPlotControl', arg)
    },
    setPlotClient (context, data) {
      context.commit('setPlotClient', data)
    }
  }
}

export default new Vuex.Store<RootState>(store)

</script>
