<!-- ConfigSaving
     RvP 200619

     Configuration save and restore

     Shown in the "config" tab.

     How to make it typescript:
     https://www.digitalocean.com/community/tutorials/vuejs-typescript-class-components

-->
<template>
  <div class="pt-3">
    <b-table
      striped
      hover
      :items="configFileData"
      :fields="fields"
    >
      <template
        v-slot:cell(load)="data"
      >
        <b-button
          v-model="data.connected"
          @click="loadConfiguration(data.item.name)"
        >
          Load
        </b-button>
      </template>
    </b-table>
    <div class="row">
      <div class="col-sm-8">
        <b-form-input
          v-model="configName"
          placeholder="config name"
        />
      </div>
      <div class="col-sm-4">
        <b-button
          @click="saveConfiguration()"
          :disabled="emptyName"
        >
          Save New configuration
        </b-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import 'reflect-metadata'
import { Vue, Component, Watch } from 'vue-property-decorator'
import debounce from 'debounce'
import { NameSizeDate } from '@/store/ConfigSaving'

@Component
export default class ConfigSaving extends Vue {

  // table fields
  fields = [
    { key: 'name', sortable: true },
    { key: 'date', sortable: true },
    { key: 'size', label: 'size' },
    { key: 'load' }
  ]

  // new configuration name
  configName: string = ''

  get configFileData (): Array<NameSizeDate> {
    return this.$store.getters.getConfigFileData
  }

  get emptyName (): boolean {
    return this.configName.length === 0
  }

  get getConfigName (): string {
    return this.configName
  }

  loadConfiguration (name: string) {
    this.$store.commit('loadConfiguration', name)
  }

  saveConfiguration () {
    // console.log('saveConfiguration to ', this.configName)
    this.$store.commit('saveConfiguration', this.configName)
  }
}
</script>
