<!-- ConnectionUI

     Table with information on available entries. These can be connected
     to from within the table, and their data inspected.

     This is shown in the "Connect" tab. Data fields from connected entries
     can be linked to the lines in the current plots
-->
<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <b-table
          striped
          hover
          :items="getAvailableEntries"
          :fields="fields"
        >
          <template
            v-slot:cell(connected)="row"
          >
            <b-form-checkbox
              v-model="row.item.connected"
              @change="toggleConnectEntry(row.item.idx)"
            />
          </template>
          <template
            v-slot:cell(show_data)="row"
          >
            <b-button
              class="mr-2"
              size="sm"
              :disabled="!row.item.connected"
              @click.stop="toggleData(row)"
            >
              {{ row.detailsShowing ? 'Hide' : 'Show' }} Data
            </b-button>
          </template>
          <template
            slot="row-details"
            slot-scope="row"
          >
            <DataView
              :tdata="getEntryData(row.item.idx[0], row.item.idx[1])"
              :location="row.item.location"
              :entryid="row.item.entryId"
            />
          </template>
        </b-table>
      </div>
      <div class="col-md-4">
        <LineTarget />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import LineTarget from './LineTarget.vue'
import DataView from './DataView.vue'

export default {
  name: 'ConnectionUI',
  components: {
    LineTarget,
    DataView
  },
  data: function () {
    return {
      fields: ['location', 'dataClass', 'entryId', 'connected', 'show_data']
    }
  },
  computed: {
    ...mapGetters(['getAvailableEntries', 'getEntryData'])
  },
  methods: {
    toggleData: function (row) {
      // console.log('toggling data for ', row.index)
      this.$store.commit('toggleEntryDetail', row.item.idx)
      row.toggleDetails()
      // row.toggleDetailsFn()
      // row.detailsShowing = !row.detailsShowing
      // row._showDetails = !row._showDetails
      // console.log(row)
    },
    ...mapActions(['toggleConnectEntry'])
  }
}
</script>

<style scope=local>
  [v-cloak] {
    display: none;
  }
</style>
