<!-- DataView
     RvP 190es204

     Presents a JSON-like struct in a table.
     The struct will be unpacked to a flat array with 'key" and "value"
     members. Variables "level" and "open" will determine nesting depth
     and state of the visualisation.

     To create:
     <DataView :tdata="..."/>
     property tdata refers to the struct to be displayed
-->

<template>
  <div>
    <b-table
      striped
      :items="getTreeData"
      :fields="fields"
      :filter="'1'"
      :filter-function="expandFilter"
      caption-top
    >
      <template slot="table-caption">
        <span> Type: {{ getDataClass }}, </span>
        <drag
          id="timelabel"
          class="drag d-inline text-primary"
          :transfer-data="{ member: null, reader: getReader, entryid: getEntryId, location: getLocation }"
        >
          tick:
        </drag>
        <span> {{ getDataTick }} </span>
      </template>
      <template v-slot:cell(name)="row">
        <b-button
          size="sm"
          class="btn-trans d-inline"
          @click.stop="toggleExpand(row)"
        >
          <div :style="'width: ' + (row.item.level + 1) + 'em'">
            <font-awesome-icon
              v-if="row.item.value === null"
              :icon="row.item.open && 'angle-down' || 'angle-right'"
            />
          </div>
        </b-button>
        <drag
          :id="'datalabel-' + row.item.name"
          class="drag d-inline text-primary"
          :transfer-data="{ member: row.item, reader: getReader, entryid: getEntryId, location: getLocation }"
        >
          {{ row.item.name }}
        </drag>
      </template>
    </b-table>
  </div>
</template>

<script lang="ts">
// import { mapGetters, mapActions } from 'vuex'
// import 'reflect-metadata'
import { Vue, Component, Prop } from 'vue-property-decorator'
import { faAngleRight, faAngleDown } from '@fortawesome/free-solid-svg-icons'
import { library } from '@fortawesome/fontawesome-svg-core'
import { ChannelEntryInfo } from '@/store/ChannelData'
import { DVTableData, toTable } from '@/components/DVTableHelper'
library.add(faAngleRight)
library.add(faAngleDown)

/* The DataView component proper.

  There are still some issues with the linting on @Prop members. The
  linter claims they are not initialized. Initialization in a constructor
  results in failing code?
*/
@Component
export default class DataView extends Vue {
  // component properties
  @Prop({ default: new ChannelEntryInfo({ dataclass: '--not connected--' }) })
  // eslint-disable-next-line
  tdata: ChannelEntryInfo
  /* = new ChannelEntryInfo({ dataclass: '--not connected--' }) */

  // eslint-disable-next-line
  @Prop({ default: '' }) location: string

  // eslint-disable-next-line
  @Prop({ default: 0 }) entryid: number

  // data
  fields = [
    { key: 'name', sortable: true },
    { key: 'value', sortable: false }
  ]

  result: Array<DVTableData> = []

  /*
  constructor () {
    super()
    this.tdata = new ChannelEntryInfo({ dataclass: '--not connected--' })
    this.location = ''
    this.entryid = 0
  }
  */
  // lifecycle hook
  mounted () {
    // console.log('DataView mounted')
    this.result = []
  }

  expandFilter (item: any, filterprop: string) {
    // console.log('expandFilter', JSON.stringify(item), item.open >= item.level)
    return item.open >= item.level
  }

  // computed values
  get getDataTick () {
    return this.tdata.reader?.data.tick
  }

  get getDataClass () {
    return this.tdata.config.dataclass
  }

  get getReader () {
    return this.tdata.reader
  }

  get getTreeData () {
    toTable(this.tdata.reader?.data.data, this.result, 0, 0)
    // console.log(JSON.stringify(this.result))
    // console.log(JSON.stringify(this.result))
    // console.log(this.result)
    return this.result
  }

  get getEntryId () {
    return this.entryid
  }

  get getLocation () {
    return this.location
  }

  toggleExpand (row: any) {
    let idx = row.item.index
    if (row.item.value) return
    const lvl = row.item.level
    // console.log(row)
    // console.log(this.result)
    while (++idx < this.result.length && this.result[idx].level !== lvl) {
      if (this.result[idx].open) {
        // console.log('index ' + idx + ' to 0')
        this.result[idx].open = 0
      } else {
        // console.log('index ' + idx + ' to ' + lvl + ' (' + this.result[idx].level + ')')
        this.result[idx].open = lvl + 1
      }
    }
  }
}
</script>

<style scope=local>
.btn-trans {
  padding: 0;
  color: #212529;
  text-align: right;
  background-color: transparent;
  border-color: transparent;
}
</style>
