<!-- Infolist
     RvP 190227

     List with controls for attaching to information URL endpoints

     Shown in the "info" tab. The "connected" checkbutton can be used to
     follow channel information.

     How to make it typescript:
     https://www.digitalocean.com/community/tutorials/vuejs-typescript-class-components

-->
<template>
  <div class="pt-3">
    <span>
      <b-form-input
        v-model="baseURL"
        type="text"
      />
    </span>
    <b-table
      striped
      hover
      :items="getConnectionPoints"
      :fields="fields"
    >
      <template
        v-slot:cell(connected)="data"
      >
        <b-form-checkbox
          v-model="data.item.connected"
          @change="toggleConnectPoint(data.item.idx)"
        />
      </template>
    </b-table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component
export default class InfoList extends Vue {
  // table fields
  fields = [
    { key: 'endpoint', sortable: true },
    { key: 'connected', sortable: true },
    { key: 'numentries', label: '# of entries' }
  ]

  set baseURL (url: string) {
    this.$store.commit('updateBaseURL', url)
  }

  get baseURL () {
    return this.$store.getters.getBaseURL
  }

  get getConnectionPoints () {
    return this.$store.getters.getConnectionPoints
  }

  toggleConnectPoint (idx: number) {
    // console.log('toggling point ' + idx)
    this.$store.commit('connectPoint', idx)
  }

  /*
  get toggleConnectPoint () {
    return this.$store.getters.entryIsConnected
  }
  */
}

</script>
