/* for testing only */

<template>
<div>
  <drop class="drop" @drop="acceptLineX(0, ...arguments)">
    {{ linex }}
  </drop>
  <drop class="drop" @drop="acceptLineY(0, ...arguments)">
    {{ liney }}
  </drop>
  <drag class="drag" :transfer-data="{ draggable }">
    {{ draggable }}
  </drag>
</div>
</template>

<script>
export default {
  name: 'LineDrop',
  data: function () {
    return {
      draggable: 'drag me',
      linex: 'to here',
      liney: 'or here'
    }
  },
  methods: {
    acceptLineX (idx, data, event) {
      console.log('drop with', idx, data, event)
      this.$set(this, 'linex', data.draggable)
      // this.data.linex = data
    },
    acceptLineY (idx, data, event) {
      console.log('drop with', idx, data, event)
      this.$set(this, 'liney', data.draggable)
      // this.data.linex = data
    }
  }
}
</script>
