<!-- LineTarget
     RvP 190301

     Fields for dragging line coordinates onto
-->
<template>
  <div>
    <div v-if="getCurrentEditPlotID !== -1">
      <drop
        id="drop-c"
        class="drop border-bottom border-primary rounded"
        @drop="acceptControl"
      >
      Control: {{ getCurrentEditPlot.plotcontrolDisplay }}
      </drop>
      <b-form-checkbox
        id="check-reset"
        v-model="resetTimeline"
        value="1"
        unchecked-value="0"
      >
        Zero time
      </b-form-checkbox>
    </div>
    <div v-for="(l,index) in getEditPlotLines" :key="index">
      <b-form-spinbutton
        v-model="l.npoints"
        min="10"
        step="10"
        repeat-step-multiplier="5"
        max="20000" />
      <b-form-input
        v-model="l.label"
        placeholder="line label"
        @change="updateLabelName(getCurrentEditPlotID,index, ...arguments)"
        lazy
      >
      </b-form-input>
      <drop
        :id="'drop-x-' + index"
        class="drop border-bottom border-primary rounded"
        @drop="acceptLineX(index, ...arguments)"
      >
        X: {{ l.xlineDisplay }}
      </drop>
      <drop
        :id="'drop-y-' + index"
        class="drop border-bottom border-primary rounded"
        @drop="acceptLineY(index, ...arguments)"
      >
        Y: {{ l.ylineDisplay }}
      </drop>
    </div>
    <drag
      id="eraser"
      class="drag d-inline"
      :transfer-data="{ link: {} }"
      @dragstart="dragging = 'eraser'"
      @dragend="dragging = null"
    >
      <font-awesome-icon icon="eraser" />
    </drag>
    <b-button
      id="add-line"
      variant="primary d-inline"
      :disabled="getCurrentEditPlotID === -1"
      class="s-1"
      @click="addLine()"
    >
      <font-awesome-icon icon="chart-line" />
    </b-button>
  </div>
</template>

<script lang="ts">
import 'reflect-metadata'
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { mapGetters } from 'vuex'
import { faEraser, faChartLine } from '@fortawesome/free-solid-svg-icons'
import { library } from '@fortawesome/fontawesome-svg-core'
library.add(faEraser)
library.add(faChartLine)

/* travel the links of an item member, and leave a trail of
   indices/names */
function idlink (m: any) {
  const res = []
  while (m) {
    res.unshift(m.name)
    m = m.parent
  }
  return res
}

@Component
export default class LineTarget extends Vue {

  /* data members */
  eraser: string
  dragging: any
  appname: string

  constructor () {
    super()
    this.eraser = ''
    this.dragging = null
    this.appname = process.env.MIX_APP_NAME
  }

  set resetTimeline(val: boolean) {
    this.$store.commit('setResetTimeline', val)
  }

  get resetTimeline(): boolean {
    return this.$store.getters.getResetTimeline
  }


  get getEditPlotLines () {
    return this.$store.getters.getEditPlotLines
  }
  get getCurrentEditPlotID() {
    return this.$store.getters.getCurrentEditPlotID
  }
  get getCurrentEditPlot() {
    return this.$store.getters.getCurrentEditPlot
  }
  /*  ...mapGetters([
      'getEditPlotLines',
      'getCurrentEditPlotID',
      'getCurrentEditPlot']), */

  get editingPlotActive() {
    // console.log(`editing? ${this.$store.getters.getCurrentEditPlotID}`)
    return this.$store.getters.getCurrentEditPlotID >= 0
  }

  acceptLineX (index: number, data: any, event: any) {
    const dpdata = {
      link: idlink(data.member),
      reader: data.reader,
      index: index,
      cname: data.location,
      entryid: data.entryid
    }
    // console.log('acceptLineX', dpdata)
    this.$store.dispatch('acceptLineX', dpdata)
  }

  acceptLineY (index: number, data: any, event: any) {
    const dpdata = {
      link: idlink(data.member),
      reader: data.reader,
      index: index,
      cname: data.location,
      entryid: data.entryid
    }
    // console.log('acceptLineY', dpdata)
    this.$store.dispatch('acceptLineY', dpdata)
  }

  acceptControl (data: any, event: any) {
    const dpdata = {
      link: idlink(data.member),
      reader: data.reader,
      cname: data.location,
      entryid: data.entryid
    }
    // console.log('acceptControl', dpdata)
    this.$store.dispatch('acceptPlotControl', dpdata)
  }

  updateLabelName(plotid: number, index: number, data: string) {
    this.$emit(`change-line-name-${plotid}-${index}`, data)
  }

  addLine () {
    // console.log('calling addLine')
    this.$store.dispatch('addLine', true)
  }
}
</script>
