
  RvP 190709

  Shows a single plot with multiple lines. The data for the plot is held
  locally in this object, using "$on" and "$emit" calls, updates to
  number of lines and data are passed.
-->
<template>
  <div>
    <Plotly
      ref="myplot"
      :data="localdata"
      :layout="layout"
      :options="options"
    />
  </div>
</template>

<script>
// uses the plotly component
//
// component documentation
// https://github.com/statnett/vue-plotly
// plotly itself (using addTraces, extendTraces, etc.)
// https://plot.ly/javascript/

import { Plotly } from 'vue-plotly'
import Vue from 'vue'

export default {
  name: 'PlotSet',
  components: {
    Plotly
  },
  props: {
    plotid: {
      type: Number,
      default: function () {
        return 0
      }
    }
  },
  data: function () {
    return {
      localdata: [],
    }
  },
  computed: {
    layout: {
      get () {
        return this.$store.getters.getPlotLayout(this.plotid)
      },
      set (ldata) {
        // console.log('plot ${this.plotid} layout ${ldata}')
        this.$store.commit('setPlotLayout',
          { plotid: this.plotid, layout: ldata })
      }
    },
    options: {
      get () {
        return this.$store.getters.getPlotOptions(this.plotid)
      },
      set (odata) {
        // console.log('plot ' + this.plotid + ' options ' + odata)
        this.$store.commit('setPlotOptions',
          { plotid: this.plotid, options: odata })
      }
    }
  },
  mounted: function () {

    // install a reaction to new line information
    // console.log('listening to add-line-to-' + this.plotid)
    this.$on('add-line-to-' + this.plotid, function (data) {
      // console.log(`reacting to add-line-to-${this.plotid}`)

      // extend the data vector
      var newline = {
        x: [],
        y: [],
        type: "lines",
        name: ""
      }

      // create a reaction to new data for this line
      this.$on('adding-data-to-' + this.plotid + '-' + data.lineno,
        function (ldata) {
          // console.log(
          //   `reacting to adding-data-to-${this.plotid}-${data.lineno}` +
          //   ` x,y points ${ldata.x.length},${ldata.y.length} ${ldata}`)

          // for triming the start of the line.
          const overlength = newline.x.length +
            ldata.x[0].length - data.npoints
          if (overlength > 0) {
            // console.log('removing ' + overlength)
            newline.x.splice(0, overlength)
            newline.y.splice(0, overlength)
          }

          // inform the plotly object. ldata of the form { x: [[]], y: [[]]}
          this.$refs.myplot.extendTraces(ldata, [data.lineno])
          // newline.x.push(...ldata.x)
          // newline.y.push(...ldata.y)
        })

      // dunno how I got here, but need to get name info?
      // console.log(`listening to change-line-name-${this.plotid}-${data.lineno}`)
      this.$on(`change-line-name-${this.plotid}-${data.lineno}`,
        function (lname) {
          // console.log(`new name for line-${this.plotid}-${data.lineno} ${lname}`)
          newline.name = lname
        })

      // create a function to clear the lines
      this.$on('clearing-data-from-' + this.plotid + '-' + data.lineno,
        function () {
          // console.log('clearing-data-from-' + this.plotid + '-' + data.lineno)
          newline.x.length = 0
          newline.y.length = 0
        })

      // notify plotly of the new line
      //this.$refs.myplot.addTraces(newline)
      Vue.set(this.localdata, this.localdata.length, newline)
    })

    // inform the store of the link between id and object
    // do this here, since this might emit to recover stored lines
    this.$store.commit('setPlotClient', { plotid: this.plotid, client: this })
  }
}
</script>
