<template>
  <div class="w-100">
    <div
      v-for="plotid in getPlotIdList"
      :id="'container' + plotid"
      :key="'container' + plotid"
    >
      <plot-set :plotid="plotid" :ref="'plotset'+plotid"/>
      <plot-control :plotid="plotid" />
    </div>
    <div>
      <b-button
        variant="primary"
        class="s-1 d-inline"
        @click="addDataPlot()"
      >
        New plot
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import PlotSet from './PlotSet.vue'
import PlotControl from '@/components/PlotControl.vue'
// import { ToggleButton } from 'vue-js-toggle-button'
export default {
  name: 'PlotPage',
  components: {
    PlotSet,
    PlotControl
  },
  computed: {
    ...mapGetters(['getPlotIdList', 'isEditPlot'])
  },
  methods: {
    selectPlot (plotid, value, evt) {
      // console.log('calling selectPlot', plotid, value, evt)
      if (value.value) {
        this.$store.commit('selectPlot', plotid)
      } else {
        this.$store.commit('selectPlot', -1)
        // console.log(this.$refs['plotset' + plotid])
      }
    },
    ...mapActions(['addDataPlot'])
  }
}
</script>

<style>
.myselect:hover {
  background-color: #B096D3;
}
.myselect:pressed {
  background-color: #8064A2;
}
</style>
