<template>
  <!-- Control area for plot manipulation.

    The plot control has a number of modes

    - Playing. The plot lines collect data and display this.
    - Pause. The plot is not updated, collected data is held up in the
      PlotConfiguration/LineConfiguration objects.
    - Stop. The plot is not updated, collected data is ignored.
    - Edit. The plot is also stopped, in addition data is cleared, and
      lines can be added or deleted.

    The control area displays four buttons for the control mode, in addition
    it displays the plot title, or a field for modifying the title.
  -->
  <div :id="'controls' + plotid">
    <b-tabs
      class="tabs row mx-2"
      v-model="activateTab"
      nav-class="nav nav-pills flex-row small col"
      content-class="tab-content col"
    >
      <b-tab>
        <template v-slot:title>
          <font-awesome-icon icon="play" class="fa fa-1x" />
        </template>
        <p class="mt-1">
          {{ plotTitle }}
        </p>
      </b-tab>
      <b-tab>
        <template v-slot:title>
          <font-awesome-icon icon="pause" class="fa fa-1x" />
        </template>
        <p class="text-muted mt-1">
          {{ plotTitle }}
        </p>
      </b-tab>
      <b-tab>
        <template v-slot:title>
          <font-awesome-icon icon="eraser" class="fa fa-1x" />
        </template>
        <p class="text-muted mt-1">
          {{ plotTitle }}
        </p>
      </b-tab>
      <b-tab>
        <template v-slot:title>
          <font-awesome-icon
            icon="edit"
            class="fa fa-1x"
            :style="{ editColor }"
          />
        </template>
        <div>
          <b-form-input
            v-model="plotTitle"
            placeholder="plot title"
          />
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script lang="ts">
// Vue component, typescript class
import 'reflect-metadata'
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { PlotRunMode } from '@/store/PlotConfiguration'

// icons for the tabs etc.
import { faPause, faPlay,
  faEdit, faEraser } from '@fortawesome/free-solid-svg-icons'
import { library } from '@fortawesome/fontawesome-svg-core'

library.add(faPause)
library.add(faPlay)
library.add(faEdit)
library.add(faEraser)

@Component
export default class PlotControl extends Vue {
  // passed property, id of the plot
  @Prop({ default: -1 })
  plotid: number

  xAxisAuto: boolean = true

  yAxisAuto: boolean = true

  xAxisRange: Array<number> = [0, 1]

  yAxisRange: Array<number> = [-1, 1]

  set activateTab (newtab: number) {
    // console.log(`selecting plot tab ${newtab}, plot id ${this.plotid}`)
    if (newtab === 0) {
      // play tab. Unselect the plot if it was the currently edited one
      // set it to running
      //if (this.$store.getters.isEditPlot()) {
      //  this.$store.commit('selectPlot', -1)
      //}
      this.$store.commit('setPlotRunMode',
        { plotid: this.plotid, choice: PlotRunMode.ResumeRun })
    }
    else if (newtab == 1) {
      // pause tab, again, unselect if it was currently being edited,
      // but now pause
      //if (this.$store.getters.isEditPlot()) {
      //  this.$store.commit('selectPlot', -1)
      //}
      this.$store.commit('setPlotRunMode',
        { plotid: this.plotid, choice: PlotRunMode.Paused })
    }
    else if (newtab == 2) {
      // this selects the plot as currently being edited, and pauses
      this.$store.commit('setPlotRunMode',
        { plotid: this.plotid, choice: PlotRunMode.StopAndClear })
    }
    else if (newtab == 3) {
      // this selects the plot as currently being edited, and pauses
      this.$store.commit('setPlotRunMode',
        { plotid: this.plotid, choice: PlotRunMode.BeingEdited })
    }
  }

  get activateTab () {
    return this.$store.getters.getActivePlotTab(this.plotid)
  }

  get editColor (): string {
    // console.log('editColor')
    if (this.$store.getters.isEditPlot()) {
      return 'background-color: #00ff00'
    }
    return ''
  }

  get plotTitle (): string {
    return this.$store.getters.getPlotTitle(this.plotid)
  }

  set plotTitle(title: string) {
    // console.log('new plot title ' + title)
    const plotid = this.plotid
    this.$store.commit('setPlotTitle',
      { plotid: this.plotid, title: title })
  }
}
</script>
