<!-- App.vue

  RvP 1902xx

  Main application plotting view.
-->

<template>
  <div
    id="app"
    class="full-width"
  >
    <b-tabs content-class="mt-3 w-100">
      <b-tab
        class="w-100"
        title="Info"
        active
      >
        <!-- information on all endpoints, connection -->
        <InfoList />
      </b-tab>
      <b-tab title="Data">
        <!-- active data connections -->
        <ConnectionUI />
      </b-tab>
      <b-tab title="Plots" class="w-100">
        <!-- page with plots -->
        <PlotPage />
      </b-tab>
      <b-tab title="Config" class="w-100">
        <!-- default configurations. -->
        <ConfigSaving />
      </b-tab>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import InfoList from './components/InfoList.vue'
import ConnectionUI from './components/ConnectionUI.vue'
import PlotPage from './components/PlotPage.vue'
import ConfigSaving from './components/ConfigSaving.vue'
export default {
  components: {
    InfoList,
    ConnectionUI,
    PlotPage,
    ConfigSaving
  }
}
</script>

<style lang="stylus" scoped>
.full-width
  width 100%

.center-content
  display flex
  justify-content center
  align-items center
</style>
